.nft-item {
  position: relative;
}
.nft-image {
  width: 100%;
  object-fit: cover;
}

.nft-avatar {
  border-radius: 50%;
  margin-left: 10px;
}

.nft-title {
  margin-right: 10px;
  text-align: right;
}
.nft-price {
  font-weight: bold;
  font-size: small;
}
.nft-bottom {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
